footer
  .container
    .footer
      a.footer__dreamshare(href='#') dreamshare
      .footer__menu
        ul
          li
            a(href='#') Company
          li
            a(href='#') About
          li
            a(href='#') Contact
          li
            a(href='#') Press
          li
            a(href='#') Blog
          li
            a(href='#') Terms and Privacy
          li
            a(href='#') Help
        ul
          li
            a(href='#') Partners
      .designed-by
        p designed by
        a(href='#')
          img(src='./images/Areto.png', alt='Areto')