header
  .container
    .top-block
      .dreamshare dreamshare
      .registration
        a.registration__login(href='#') Log in
        a.registration__signup(href='#') Sign up
    .middle-block
      h1 share your holiday dream
      h3 And find the perfect partner to fullfill it
      a(href='#') Find your holiday partner